<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Anotácia projektu</h2>
                <hr class="light">
                <p class="text-faded">Projekt SafePark sa zameriava na zlepšenie parkovacej situácie na sídlisku pomocou
                    využitia moderných technológií. Cieľom projektu je vytvoriť inteligentný systém, ktorý bude
                    umožňovať efektívne a bezpečné parkovanie v garážach, zlepšiť prístupnosť a zabezpečiť ochranu
                    vozidiel pred krádežou a poškodením. Projekt zahŕňa inštaláciu senzorov, ktoré budú monitorovať
                    obsadenosť parkovacích miest a informovať o tom vodičov prostredníctvom aplikácie alebo informačných
                    tabúľ. Systém bude tiež umožňovať rezerváciu parkovacích miest a bude monitorovať, kto má prístup do
                    garáže, aby sa minimalizovalo riziko krádeže. Okrem toho projekt obsahuje aj možnosti pre
                    energetickú úsporu, napríklad využitie senzorov pohybu na osvetlenie a vzduchotechniku, čím sa
                    znižuje spotreba energie a náklady na prevádzku garáže. Výsledkom projektu by malo byť zlepšenie
                    komfortu a bezpečnosti pre vodičov, zvýšenie kapacity parkovania a znižovanie dopravnej zápchy a
                    emisií oxidu uhličitého v oblastiach so súvislou zástavbou.</p>
            </div>
        </div>
    </div>
</section>
