<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div style="background-color: rgba(0,0,0,0.75); color: white">
                <h1>SafePark</h1>
                <hr>
                <p style="font-size: 150%"><b>
                    Prinášame kompletné smart city riešenie, ktorého časti
                    sú medzi sebou prepojené a automatizované. Naše riešenie slúži ľuďom pre ich každodenný jednoduchší
                    život a samospráve prinášame dáta na ďalšie rozhodovanie</b>
                </p>
            </div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">O nás</a>
        </div>
    </div>
</header>
