<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SafePark</h1>
            <hr>
            <p style="color: black">Prinášame kompletné smart city riešenie, ktorého časti sú medzi sebou prepojené a automatizované. Naše riešenie slúži ľuďom pre ich každodenný jednoduchší život a samospráve prinášame dáta na ďalšie rozhodovanie</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">O nás</a>
        </div>
    </div>
</header>
