<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Zadania</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-3">
                <a href="img/portfolio/SWOT.png" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/SWOT.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                SWOT analýza
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="img/portfolio/ER_diagram.png" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/ER_diagram.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ER diagram
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="img/gantt_safepark.html" target="_blank" class="portfolio-box">
                    <img src="img/gantt_safepark.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Ganttov diagram
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://cawemo.com/share/2a3c2549-4af4-4373-a429-da9f08b1a82d" target="_blank"
                   class="portfolio-box">
                    <img src="img/Registracia.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                BPMN Registrácie
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://cawemo.com/share/837efbb6-2e27-44fe-86ce-f9ce09236365" target="_blank"
                   class="portfolio-box">
                    <img src="img/rezervacia_miesta.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                BPMN Rezervácie miesta
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="img/Registrácia.png" target="_blank" class="portfolio-box">
                    <img src="img/reg_nadhlad.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Návrh regitrácie
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="img/Rezervácia.png" target="_blank" class="portfolio-box">
                    <img src="img/rez_nadhlad.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Návrh rezervácie miesta
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
