<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Požiadavky</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-users wow bounceIn text-primary"></i>
                    <h3>Zákazník</h3>
                    <ol>
                        <li>Registrácia do aplikácie
                            <ol>
                                <li>Zadanie údajov
                                    <ol>
                                        <li>Meno, priezvisko, adresa, tel. číslo, e-mail, VP, EČV</li>
                                    </ol>
                                </li>
                                <li>Vytvorenie hesla
                                    <ol>
                                        <li>Min. 8 znakov, 1 veľké písmeno, 1 číslo, 1 špec. znak</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>Rezervácia park. miesta
                            <ol>
                                <li>Výber miesta
                                    <ol>
                                        <li>Rozdelenie miest na kryté/nekryté</li>
                                        <li>Mapa miest - heat mapa - podľa nej sa bude odvíjať aj cena</li>
                                        <li>Možnosť miesta pre elektromobily (el. nabíjačka)</li>
                                        <li>Miesta pre zdravotne nezvýhodnených</li>
                                        <li>Parkovanie mimo aplikácie</li>
                                    </ol>
                                </li>
                                <li>Doba rezervácie
                                    <ol>
                                        <li>Časový lístok - hodinové, denné, týždňové, mesačné, ročné</li>
                                        <li>Možnosť nastavenia výzvy o ukončení obdobia (1 týždeň, deň pred...)</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>Možnosti platby
                            <ol>
                                <li>Automat na mieste
                                    <ol>
                                        <li>Platba v hotovosti/kartou</li>
                                    </ol>
                                </li>
                                <li>Platba kartou
                                    <ol>
                                        <li>Možnosti platby - GoPay, GooglePay, VISA, Mastercard...</li>
                                    </ol>
                                </li>
                                <li>Platba kreditom
                                    <ol>
                                        <li>Nabitie kreditu prostredníctvom aplikácie, výhodnejšia cena pri opätovnom dobíjaní</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Admin</h3>
                    <ol>
                        <li>Databáza zákazníkov
                            <ol>
                                <li>Zabezpečenie servera, kam budú posielané dáta
                                    <ol>
                                        <li>Zabezpečenie pracovníka, ktorý by sa o dáta staral</li>
                                        <li>Analýza dát v týždňových intervaloch</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>Zabezpečenie objektu
                            <ol>
                                <li>Kamerový systém</li>
                                <li>Rampa</li>
                                <li>Kontrola inžinierskych sietí</li>
                                <li>Protipožiarne opatrenia</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Systém</h3>
                    <ol>
                        <li>Sledovanie voľných parkovacích miest</li>
                        <li>Sledovanie napätia a prúdu v elektronabjíčkách</li>
                        <li>Sledovanie statiky</li>
                        <li>Výzva na ukončenie parkovania</li>
                        <li>Heatmaps miest v rozličných dňoch</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
